.same-classes{
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin-left: 2.7rem !important;
}

.company-profile-card{
    height: 50vh;
    background-color:white;
    box-shadow: 0px 0px 15px 0px gray;
    cursor: pointer;
}

.child-two{
    background-color: white;
    height: 10vh;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.profile-card-img{
    height: 15vh;
    width: 100vw;
}

.profile-image{
    display: inline-block;
    width: 5vw;
    height: 10vh;
    position: relative;
    left: 35%;
    bottom: 1rem;
}

.list-child{
    text-align: center;
    margin-top: 5%;
    font-weight: 500;
}

.services-cards{
    height: 50vh;
    background-color: white;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 0.5rem;
}

.digital-marketing-clients{
    font-weight: bold;
    font-size:1.5rem;
    text-align: center;
}

.client-data-card{
    background-color: #050f25 ;
    color: white;
    width: 20vw;
    margin-left: 5%;
    padding: 1rem;
    margin-top: 10%;
    box-shadow: 0px 0px 20px 2px lightblue;
}

.client-data{
    margin-top: 5%;
}