

.login_form_container{
    width: 25vw ;
    height: 80vh;
    background-color:#1F82BD;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 5px #87ceeb;
}

.logo{
    margin: 0 auto;
    width: 5vw;
    position: relative;
    border: 5px solid black;
    top: 1rem;
    border-radius: 50px;
}

.admin-login{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 10%;
}

.email_input, .password_input{
    background-color: rgba(0, 0, 0, 0.322);
    display: block;
    width: 20vw;    
    color: #ffffff;
    padding: 2%;
    border: 2px solid navy;
    margin: 0 auto;
    margin-top: 10%;
}

.signin-btn{
    background-color: black;
    color: white;
    display: block;
    margin: 0 auto;
    width: 20vw;
    margin-top: 10%;
    padding: 1%;
    box-shadow: 0px 0px 10px 0 white;
}

.signin-btn:hover{
    box-shadow: 0px 0px 10px 0 crimson;
}

.signup-link{
    color: white;
    text-align: center;
    margin-top: 10%;
}

.form-hr{
    margin-top: 8%;
}

/* Media Queries */

/* For 899px */

@media screen and (max-width:899px) {
    
    .login_form_container{
        width: 50vw ;
        height: 90vh;
        margin-left: 30%;
    }

    .email_input, .password_input{
        width: 40vw;    
    }

    .signin-btn{
        width: 40vw;
    }



}

/* For 768px */

@media screen and (max-width:768px) {
    
    .login_form_container{
        width: 50vw ;
        height: 90vh;
    }

    .email_input, .password_input{
        width: 40vw;    
    }

    .signin-btn{
        width: 40vw;
    }
    

}

/* For 720px */

@media screen and (max-width:720px) {
    
    .login_form_container{
        width: 80vw ;
        height: 40vh;
        position: relative;
        right: 18%;
    }

    .email_input, .password_input{
        width: 60vw;    
    }

    .signin-btn{
        width: 60vw;
    }
    
}


/* For 599px */

@media screen and (max-width:599px) {
    
    .login_form_container{
        width: 80vw ;
        height: 80vh;
        margin-left: 40%;
    }

    .email_input, .password_input{
        width: 40vw;    
    }

    .signin-btn{
        width: 40vw;
    }

    

}



/* For 480px */

@media screen and (max-width:480px) {

    .login_form_container{
        margin-left: 25%;
    }
    
    .email_input, .password_input{
        width: 60vw;    
    }

    .signin-btn{
        width: 60vw;
    }

    .logo{
        width: 10vw;
    }
    

}

/* For 380px */

@media screen and (max-width:380px) {

    .login_form_container{
        width: 90vw ;
        height: 70vh;
        margin-left: 6%;
    }

    
    .email_input, .password_input{
        width: 70vw;    
    }

    .signin-btn{
        width: 70vw;
    }

    .logo{
        width: 15vw;
    }
    
    

}